<div ng-controller="MainCtrl">
  <h1 >Coming Soon</h1>
  <div class="row">


    <ul class="plans">
      <li ng-repeat="request in main.requests" class="plan highlight" ng-class="request.state">
            <span class="price price-green" data-toggle="tooltip" title="Customer Budget" data-placement="left">
              ${{request.budget}}
            </span>

        <div class="details">
          <h3 class="plan-title" ng-class="request.state">Fix the {{request.object}}</h3>
          <p class="plan-description" ng-class="request.state">{{main.getUserInforById(request.customer_id).address}}</p>
        </div>

        <button class="acceptBtn" ng-show="request.state === 'incomplete'" onclick="sendSMS()" ng-click="request.state = 'pending'">Accept</button>
        <button class="pendingBtn"  ng-show="request.state === 'pending'" ng-click="request.state = 'incomplete'">Pending</button>
        <button class="completedBtn"  ng-show="request.state === 'completed'" disabled>Completed</button>
      </li>


    </ul>



    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        function sendSMS() {
            var data = new FormData();
            data.append("from", "12016958261");
            data.append("text", "A text message sent using the Nexmo SMS API");
            data.append("to", "6174801331");
            data.append("api_key", "5532c049");
            data.append("api_secret", "4f5cc627acaadb3e");

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    console.log(this.responseText);
                }
            });

            xhr.open("POST", "https://rest.nexmo.com/sms/json");
            xhr.setRequestHeader("cache-control", "no-cache");
            xhr.setRequestHeader("postman-token", "6e36339a-6d15-ad93-49ed-3e10c3d9bee1");

            xhr.send(data);

//            $.ajax({
//                url: 'https://rest.nexmo.com/sms/json',
//                headers: {
//                    'Content-Type': 'application/x-www-form-urlencoded'
//                },
//                type: "POST", /* or type:"GET" or type:"PUT" */
//                dataType: "json",
//                data: {
//                    from:"Nexmo",
//                    text:"A text message sent using the Nexmo SMS API",
//                    to:"6174801331",
//                    api_key:"5532c049",
//                    api_secret:"4f5cc627acaadb3e"
//                },
//                success: function (result) {
//                    console.log(result);
//                },
//                error: function () {
//                    console.log("error");
//                }
//            });
        }
    </script>

  </div>
</div>
</div>

